<!--The View should have a name as the Action Method Responsible for it.-->
@model DepartmentView//allows to access properties in the model


<form method="post">
    <div class=" border p-3 mt-4 ">
        <div class="row pb-2">
            <h2 class="text-primary"> Create Department</h2>
            <hr />
        </div>
        <div class=" mb-3 row p-1">
            <label asp-for="Department.DepartmentalName" class="p-0"></label>
            <input asp-for="Department.DepartmentalName" class="form-control" />
            <span asp-validation-for="Department.DepartmentalName" class="text-danger"></span>
        </div>
        

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>

            </div>
            <div class="col-6 col-md-3">

                <a asp-controller="Department" asp-action="Index" class="form-control btn btn-outline-secondary border">Back to List</a>
            </div>
        </div>
    </div>
</form>


@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
   }